Source: uronode
Section: hamradio
Priority: optional
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org>
Uploaders: Dave Hibberd <d@vehibberd.com>
Build-Depends: debhelper (>= 10), libax25-dev
Standards-Version: 4.1.1
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-hamradio/uronode.git
Vcs-Git: https://anonscm.debian.org/git/pkg-hamradio/uronode.git
Homepage: http://uronode.sourceforge.net/

Package: uronode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: ax25-node
Replaces: ax25-node
Description: Node front end for AX.25, NET/ROM, Rose and TCP
 URONode is a packet radio node front end for amateur radio operators.
 It provides a shell modelled after those of LinuxNode, AWZNode and
 Flexnode.  It is capable of initiating connections to remote stations
 and exposing services installed on them to users.
