#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
export NON_INTERACTIVE=1
export DEB_CONFIGURE_EXTRA_FLAGS=--without-flexnet --without-tcpip --without-rose --without-autorouter --without-mheard

%:
	dh $@

# Collapse upstream changes file into single file

override_dh_auto_build:
	cat CHANGES.* > changelog
	dh_auto_build
